@model IEnumerable<Task_1.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    <select name="Dept_Id">
        <option value="10">SD</option>
        <option value="20">EL</option>
        <option value="30">Java</option>
        <option value="40">MM</option>
        <option value="50">Unix</option>
        <option value="60">NC</option>
        <option value="70">EB</option>
    </select>
    <br />
    <input type="submit" value="Search" />
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ins_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ins_Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Dept_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ins_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ins_Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Dept_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Ins_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Ins_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Ins_Id })
            </td>
        </tr>
    }

</table>
